//Colores
$dark-green-title: #025157;
$dark-green-text: #135359;
$white: #ffff; 
$gray: #4a4a4a;
$light-gray: #979797;
$light-green:#67b54b;
$light-green-background: #96d178;


/**
Fuentes
*/
$font-title: 'Fresca', sans-serif;

%base-title {
    font-family: $font-title;
    color: $dark-green-text;
    font-weight: bolder;
}

%base-form {

    margin-top: 10px;
    margin-bottom: 10px;

    input, button {
        padding: 15px 20px;
        border-radius: 8px;
        height: 100%;
    }

    button {       
        background-color: #025157;
        color: #ffff;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border: none;
        margin-left: -10px;
    }

    input {
        border: 1px solid #b6b6b6;
        border-radius: 8px;
        background-color: #ffff;
    }
    
}

%base-nav {
    .logo {
        width: 15%;
      }
      
      .logo>img {
        width: 15%;
      }
      
      .navbar {
        background-color: #fffbf7;
        text-align: center;
        font-weight: 400;
        color: #025157;
      
        ul {
          padding: 0; 
          }
        }
      
      .actions {
        text-align: right;
        font-size: 14px;
      
        & > * {
          margin: 0 10px;
        }
      
        a {
          color: #67b54b;
        }
      
        button {
          background-color: #67b54b;
          color: white;
          padding: 12px 14px;
          border: 0;
          border-radius: 5px;
        }
      }
}