@use 'global' as *;

.signup-form {
    @extend %base-form;
}

.blog {
    background-color: #ffff;
    max-width: unset;
    padding: 5% 10%;

    .title {
        @extend %base-title;
    }

    button {
        padding: 10px 35px;
    }

    .process-list {
        margin-top: 40px;
        margin-bottom: 36px;

        .process {
            margin-bottom: 25px;
            display: flex;

            & > div {

                & > h3 {
                    color: $dark-green-title;
                    margin-bottom: 0;
                    font-size: 30px;
                    font-weight: 400;
                }

                & > p {
                    color: $dark-green-text;
                    margin: 0;
                    font-size: 16px;
                }
            } 
        }

        .process-icon {
            width: 60px;
            height: 60px;
            margin-right: 10px;
            text-align: center;
            
            img {
                height: 100%;
            }
        }
    }

    .card {

        .card-body {

            & > h5 {
                color: $gray;
                font-size: 24px;
                font-family: "Open Sans", sans-serif;
            }

            .metadata {
                font-size: 14px;
                font-weight: lighter;

                .category {
                    color: $light-green;
                }

                .read-time {
                    color: $light-gray;
                }
            }

            .card-text {
                color: $gray;
                font-size: 18px;
            }

            .author {
                
                p {
                    margin-left: 5px;
                    margin-top: 10px;
                    font-weight: bold;
                    font-size: 12px;
                    color: $gray; 
                }

                img {
                    border-radius: 50%;
                    width: 35px;
                    height: 35px;
                  }
            }
        }
        
    }

}

.try-it {
    padding: 5%;
    background-color: $light-green-background;
    
    & > h2 {
        font-size: 60px;
        font-family: 'Fresca', sans-serif;
        color: $dark-green-title;
        font-weight: bolder;
    }

    & > p {
        margin-top: 10px;
        font-family: "Open Sans", sans-serif;
        color: #ffff;
    }
}

.cta {
    padding: 75px 150px;
    
    .row {
        background-color: $dark-green-title;
        padding: 60px;
        border-radius: 10px;

        .cta-content {
           
            & > h2 {
                color: #ffff;
                font-family: 'Fresca', sans-serif;         
                font-size: 34px;
                width: 50%;
                font-weight: bolder;
            }

            & > p {
                color: #ffff;
                font-size: 15px;
            }
        }

        .cta-form {

            .signup-form {
                & > button {
                    background-color: $light-green;
                }
            }

            p {
                color: #ffff;
                font-size: 14px;
                margin: 15px 0;
                width: 60%;
            }
        }
    }
}