body {
    background-color: #fffbf7;
}

h1 {
    color: #025157;
    text-align: center;
    font-family: 'Fresca', sans-serif;
    font-size: 60px;
    font-weight: bolder;
}

p {
    color: #8b8b8bcc;
    font-family: Verdana;
    font-size: 20px;
}

button {
    color: white;
    background-color: #025157;
    border-radius: 5px;
    border: 0;
    padding: 12px 14px;
    font-weight: bold;
}

a {
    color: #67b54b;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    margin: 40px 20px 0;
    font-size: 0;
    font-family: sans-serif;
}

.header > * {
    display: inline-block;
    font-size: 16px;
    line-height: 15px;
    height: 100%;
    vertical-align: middle;
}

li {
    display: inline;
    margin: 0 25px 0;
}


.logo {
    width: 15%;
}

.logo > img {
    width: 15%;
}

.navbar {
    width: 100%;
    color: #025157;
    font-weight: 700;
    text-align: center;
}

.navbar button {
    width: 130px;
    height: 50px;
}


.actions {
    width: auto;
    font-size: 14px;
    font-weight: 600;
}

.actions > * {
    margin: 0 10px 0;
}

.actions > a {
    color: #67b54b;
}

.actions > button {
    color: white;
    background-color: #67b54b;
    padding: 12px 14px;
    border: 0;
    border-radius: 5px;
}

.main {
    margin-top: 285px;
    text-align: center;
}

.main img {
    max-width: 1000px;
    max-height: 1200px;
}
.publish {
    margin-left: 30px;
}

.publish > h3 {
    font-family: 'Fresca', sans-serif;
    color: #025157;
    font-size: 40px;
    line-height: 48px;
}

.publish > h5 {
    color: #025157;
    font-family: Verdana;
    margin-right: 18px;
}

.publish > p {
    color: #343434;
    font-family: Verdana;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: justify;
}

.publish > form {
    display: flex;
}

.promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}

.explanatory-video > img{
    width: 120px;
    margin-top: 10px;
}

.explanatory-video {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
    z-index: 10;
}

.features {
    display: grid;
    grid-template: repeat(2, 330px) / repeat(2, 1fr);
    background-color: #025157;
    row-gap: 20px;
    column-gap: 20px;
    padding: 5%  9%;
}

.feature-card {
    background-color: white;
    display: flex;
    border-radius: 5px;
    position: relative;
}

.feature-content {
    width: 50%;
    font-family: sans-serif;
    margin-left: 50px;
}

.feature-content > *{
    margin: 15px;
}

.feature-content h3{
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 25px;
}

.feature-content img {
    height: 80px;
    margin-left: 50px;
}

.feature-content p, a {
    font-size: 15px;
}

.feature-image {
    width: 40%;
    padding-top: 20px;
}

.feature-image img{
    height: 80%;
    width: 170px;
    position: absolute;
    right: 0;
}

.success-stories {
    background-color: #a1d683;
    display: flex;
    padding: 5% 10%;
    height: 850px;
    max-width: 100%;
    position: relative;
}

.success-stories button {
    font-weight: bold;
}

.overview {
    max-width: 50%;
    margin: 50px auto;
}
.overview img {
    max-width:  500px;
    max-height: 450px;
    background: transparent;
}

.overview h2 {
    color: #025157;
    text-align: left;
    font-family: 'Fresca', sans-serif;
    font-size: 50px;
    font-weight: bolder;
}

.overview p {
    color: rgba(0, 0, 0, 0.533);
}

.overview button {
    font-size: 15px;
}

.stories {
    width: 27%;
    height: 650px;
    display: flex;
    flex-direction: column;
}

.stories img {
    max-width: 100%;
    max-height: 40%;
    border-radius: 5px;
}

.card-body {
    background-color: white;
    max-width: 100%;
    height: 60%;
    padding: 40px 20px;
    position: relative;
    border-radius: 5px;
}

.card-body h4 {
    font-size: 25px;
    font-family: 'Fresca', sans-serif;
    color: #025157;
}


.card-body h3 {
    color: rgba(0, 0, 0, 0.697);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 22px;
}

.card-body button {
    width: 100%;
    height: 50px;
    font-size: 15px;
}

.company {
    position: absolute;
    width: 100px;
    height: 100px;
    top: -50px;
    right: 20px;
    background-color: #f9da73;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.company img {
    width: 75%;
}

.how-does-it-work {
    text-align: center;
}

.how-does-it-work h2 {
    color: #025157;
    font-family: 'Fresca', sans-serif;
    font-size: 50px;
    font-weight: bolder;
    margin-top: 60px;
    margin-bottom: 15px;
}

.how-does-it-work p {
    width: 60%;
    margin: auto;
    margin-bottom: 15px;
    color: rgba(0, 0, 0, 0.586);
}

.how-does-it-work button {
    margin-bottom: 80px;
}

.steps{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
    padding: 0 150px 40px 150px;
}

.card-step {
    background-color: white;
    border: 1px solid #dadada;
    border-radius: 5px;
    height: 576px;
    display: flex;
    position: relative;
    flex-flow: column;
}

.card-step-body {
    height: 226px;
    padding: 25px;
}

.card-step-body h3 {
    font-family: 'Fresca', sans-serif;
    color: #025157;
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 8px;
    margin-top: 0;
}

.card-step-body p {
    font-size: 15px;
    text-align: left;
    width: 100%;
    height: 85px;
    margin: 15px 0;
    line-height: 20px;
}

.card-step-image { 
    height: 350px;
    width: 100%;
}

.card-step-bg {
    width: 100%;
    height: 10%;
}

.card-step-icon {
    width: 100%;
    height: 90%;
}

/** dispositivos móviles en vista viewport (vertical) */
@media (max-width: 575px) {
   

    h1 {
        font-size: 30px;
    }

    .main {
        margin-top: 130px;
    }

    .banner > img {
        width: 100%;
    }

    .publish > form{
        flex-direction: column;
    }

    .publish > form > div{
        height: 50px;
        margin-top: 10px;
    }

    .publish > form > div > input {
        width: 65%;
    }

    .promo {
        flex-direction: column;
        max-width: 90%;
    }

    .explanatory-video > video {
        width: 100%;
    }

    .publish {
        margin-top: 10px;
    }

    .publish > h3 {
        font-size: 25px;
        line-height: 1.2;
    }

    .features {
        display: flex;
        flex-direction: column;
    }

    .feature-card {
        flex-direction: column;
    }

    .feature-content {
        width: 90%;
        height: 320px;
        margin-left: 15px;
        margin-right: 15px;
        text-align: center;
    }

    .feature-image {
        display: none;
      }

    .feature-content > h3 {
        font-size: 20px;
        width: 80%;
    }

    .feature-content > p {
        font-size: 15px;
        padding-bottom: 10px;
    }

    .feature-content a {
        font-size: 12px;
    }

    .feature-content img {
        margin-left: 0;
    }
    
    .success-stories {
        flex-direction: column;
        padding: 16px;
        height: 100%;
    }

    .success-stories h2 {
      
        font-size: 25px;
    }
    .overview {
        max-width: 100%;
        margin: 0;
    }

    .overview p{
        font-size: 18px;
    }

    .overview img {
        max-width: 100%;
        margin: 12px 0;
    }

    .stories {
        width: 100%;
    }

    .how-does-it-work {
        padding: 16px;
    }

    .how-does-it-work h2{
        font-size: 30px;
        margin-top: 30px;
    }

    .how-does-it-work p {
        font-size: 18px;
        margin: 0;
        margin-bottom: 20px;
        width: 100%;
    }

    .steps { 
        grid-template: repeat(4, 1fr) / 1fr;
        padding: 0 10px;
        row-gap: 20px;
    }

    .card-step {
        flex-direction: row-reverse;
        position: relative;
        height: 280px;
    }

    .card-step-icon {
        position: absolute;
        top: 25px;
        left: 25px;
        width: 21px;
        height: 61px;
        /* TENER HIDDEN MIENTRAS NO SE TENGA LA IMAGEN */
        visibility: hidden;
    }

    .card-step-body {
        text-align: left;
        height: 100%;
        width: 80%;
        padding: 10px;
    }

    .card-step-body h3 { 
        margin-top: 30px;
    }

    .card-step-body p {
        margin: 20px 0;
        font-size: 15px;
        height: 100px;

    }

    .card-step-image {
        height: 100%;
        width: 20%;
    }

} 
    /* .features {
        grid-template: repeat(4, 1fr) / 1fr;
        padding-left: 10px;
        padding-right: 10px;
        row-gap: 10px;
        column-gap: 10px;
      }
    
      .feature-image {
        display: none;
      }
}  */
  
  /** dispositivos pequeños en vista landscape (horizontal) */
  @media (min-width: 576px) and (max-width: 767px) {
    
  }
  
  /** dispositivos medianos (tablets) */
  @media (min-width: 768px) and (max-width: 991px) {
  
  }
  
  /** dispositivos grandes (desktops) */
  @media (min-width: 992px) and (max-width: 1199px) {
  
  }
  
  /** dispositivos extra grandes (monitores grandes, tvs) */
  @media (min-width: 1200px) {
  
  }





